[Unit]
Description=VNXACE
After=local-fs.target

[Service]
PIDFile=/var/run/vnxaced.pid
ExecStart=/usr/local/bin/vnxaced
 
[Install]
WantedBy=multi-user.target
